<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

   <h1>Test Page</h1> 

    <% for(i=0; i < result.rowCount; i++ ) {%>

   <div><%= (result.rows[i].user_id) %>         </div>
   <div><%= (result.rows[i].user_name) %>       </div>
   <div><%= (result.rows[i].user_password) %>   </div>
   <div><%= (result.rows[i].user_created) %>    </div>
   <div><%= (result.rows[i].user_last_login) %> </div>
   <div><%= (result.rows[i].user_verified) %>   </div>
   <br>
   
   <% } %>
   
   <%- include('./partials/footer.ejs') %>
</body>
</html>